body{

    background-color: #000a1f;
}

.container{

    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img{

    width: 18%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease-in-out;
}

.container img:hover{

    width: 25%;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 25px #fff);
    border: 2px solid #fff;
}